body {
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    color: aliceblue;
}

body h2 {
    margin-bottom: 15px;
    font-weight: 40;
    font-size: 30px;
}

.card {
    background-color: #202020;
    padding: 8px;
    border: 2px solid #050505;
    border-radius: 20px;
}

#product-list {
    margin-bottom: 30px;
}

.product {
    display: flex;
    gap: 30px;
    align-items: center;
    border: 2px solid #060606;
    border-radius: 5px;
    padding: 5px;
    background-color: #333333;
    margin-top: 8px;

}
.card-item{
    
}
.cart-item button{
 background-color: red;
 /* gap: 10px; */
}

button {
    cursor: pointer;
    /* margin: 0px 5px; */
    background-color: rgba(72, 6, 205, 0.936);
    border: 2px solid #060606;
    border-radius: 5px;
    color: azure;
    padding: 5px;
    font-size: 12px;
}

.hidden {
    display: none;
}

#cart-total {
    padding: 0px 0px 0px 150px;
}

#cart-bttn {
    height: 30px;
}

#checkout-btn {
    padding: 7px;
}